- title (params[:search] || 'Wordtree').titleize

#toolbar
  = form_tag terms_path, method: :get do
    %fieldset
      = label_tag :search, 'Term:'
      = text_field_tag :search, params[:search]
      = submit_tag 'Search'
  %button.advanced Advanced

#wordtree
