- title (params[:id] || 'Wordtree').titleize

%div
  %input#tree_id{value: @root.id, type: :hidden}
  %input#tree_name{value: params[:id], type: :hidden}
  %label{for: :suffix_visibility} Show suffixes?
  %input#suffix_visibility{type: :checkbox}

%div
  %svg#viewport
    %g{transform: 'translate(10,10)'}
