<script id="template" type="text/x-kendo-template">
  <li class="title">
    <# if (BoxArt.LargeUrl) { #>
      <img src="<#= BoxArt.LargeUrl #>" />
    <# } #>
    <dl>
      <dt>Name:</dt>
      <dd><#= Name #></dd>
      <dt>Average Rating:</dt>
      <dd><#= AverageRating #></dd>
    </dl>
  </li>
</script>
