- title 'Search'

.panel
  Keyword
  Genre
  Discipline
  Level

.panel.panelwide
  = will_paginate @documents

  %table
    %thead
      %tr
        %th{:width => 40} Level 
        %th{:width => 140} Genre
        %th= sortable :title 
    = render @documents

