/*
 *= require 'bootstrap_and_overrides'
 *= require 'layout'
*/

@font-face { 
  font-family: DIN;
  src: url('/fonts/DINNeuzeitGroteskStd-BdCond.otf') format('opentype');
}

@font-face { 
  font-family: Caecilia;
  src: url('/fonts/CaeciliaLTStd-Roman.otf') format('opentype');
}

@font-face { 
  font-family: Gotham;
  src: url('/fonts/Gotham-Book.otf') format('opentype');
}

@font-face { 
  font-family: Foro;
  src: url('/fonts/ForoLig.otf') format('opentype');
}
