/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

@font-face { 
  font-family: DIN;
  src: url('/fonts/DINNeuzeitGroteskStd-BdCond.otf') format('opentype');
}

@font-face { 
  font-family: Caecilia;
  src: url('/fonts/CaeciliaLTStd-Roman.otf') format('opentype');
}

@font-face { 
  font-family: Gotham;
  src: url('/fonts/Gotham-Book.otf') format('opentype');
}
