body#documents_show article
  background-color: $subtlebg
  border: 1px solid #ddb
  float: left 
  width: 45%
  margin: 0 1em 1em 0
  padding: 1em
  section
    background-color: $c1
    border: 1px solid #ddb
    color: $subtlefg
    line-height: 1.6em
    text-align: justify
    height: 30em
    overflow: auto
    padding: 1em

table td span
  display: block 
  height: 1em 
  background-color: #069 
  border: 1px solid #000

body#documents_index
  form
    float: left
    margin: 0 1em 1em 0
    width: 20em
  
  .panel
    background-color: $subtlebg
    border: 1px solid $subtlebg
    color: $subtlefg
    float: left
    margin: 0 1em 0 0
    h2
      color: #000
  .panelwide
    width: 70em
    
#wordtree
  background-color: $subtlebg
  display: block
  width: 93%
  border: 1px solid #ddb
  margin: 0 0 1em 0
  padding: 1em
  #canvas
    border: 1px solid #ddb
    background: #FFF
    height: 200em
    .node 
      font-size: 12px
      circle
        fill: $a2 
        stroke: $a3
        stroke-width: 1.5px
    .link
      fill: none
      stroke: #ccc 
      stroke-width: 2px
