body#documents_show article
  background-color: $subtlebg
  border: 1px solid #ddb
  float: left 
  width: 45%
  margin: 0 1em 1em 0
  padding: 1em
  section
    background-color: $c1
    border: 1px solid #ddb
    color: $subtlefg
    line-height: 1.6em
    text-align: justify
    height: 30em
    overflow: auto
    padding: 1em

table td span
  display: block 
  height: 1em 
  background-color: #069 
  border: 1px solid #000

body#documents_index,
body#documents_create
  form
    float: left
    margin: 0 1em 1em 0
  .panel
    background-color: $subtlebg
    border: 1px solid $subtlebg
    color: $subtlefg
    float: left
    margin: 0 1em 0 0
    width: 23%
    h2
      color: #000
  .panelwide
    width: 72%
    
#wordtree
  background-color: #fff !important
  button
    margin: 0 0 0 1em
  nav#links
    float: right
    a
      display: block
      background: #CCC
      float: left
      margin: 0 0 0 1em
      padding: 0.5em
      border: 1px solid #666
      border-radius: 3px
      text-decoration: none
      &:hover
        @include shadow
  form
    overflow: auto
    label
      float: left
      margin: 0 1em 1em 0
      span
        font-weight: bold
        display: block
        margin: 0 0 0.25em 0
    input[type=submit]
      margin: 0.25em 0 0 0
      padding: 0.5em
    
  background-color: $subtlebg
  display: block
  width: 93%
  border: 1px solid #ddb
  margin: 0 0 1em 0
  padding: 1em
  #canvas
    border: 1px solid #ddb
    background: #FFE
    height: 40em
    position: relative
    padding: 0 0 0 2em
    svg
      position: absolute
      top: 0
    .node 
      font-size: 12px
      circle
        fill: $a2 
        stroke: $a3
        stroke-width: 1.5px
    .link
      fill: none
      stroke: #ccc 
      stroke-width: 2px
