html
  font-size: 62.5%

body
  font: 1.4em/1.6em Helvetica, Arial, sans-serif
  margin: 0

#site
  margin: 0 auto
  > header,  > footer
    background: #666 url('/assets/wood_pattern.png')
    color: #FFF
    box-shadow: inset 0 0 0.5em rgba(0, 0, 0, 0.7)  
    a
      text-decoration: none
  > header
    overflow: auto
    h1
      font: normal 2em Foro
      float: left
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8)
      margin: 0.25em 0.5em
      &:hover
        -webkit-transform: scale(1.1)
      a
        color: #333
        text-decoration: none
        -webkit-transition: color 0.5s linear
        transition: color 0.5s linear
        &:hover
          color: #111
  > footer
    background: #222
    text-align: right 
    padding: 1em 1em 4em 1em
    box-shadow: inset 0 0 2em #555 
    color: #666
  #page
    padding: 0 1em 
    min-height: 30em
    > header h1
      font-size: 1.5em
      margin: 0 0 0.5em 0
    nav.pagination
      margin: 0 0 1em 0
      background: #444
      color: #FFF
      overflow: auto
      text-align: center
      a
        color: inherit
        text-decoration: none
        font-weight: bold
      a, span
        padding: 0.5em
        border: 1px solid #222
      .next, .last
        float: right
      .first, .prev
        float: left
      .current
        background-color: #FC0
        color: #000
