form#search
  padding: 0.5em 0
  border: 1px solid rgba(50, 50, 50, 0.3)
  border-radius: 0.3em 0.3em 0 0
  width: 100% 
  overflow: auto
  fieldset
    float: left
    .field
      margin: 0 0 0 1em
      float: left
      width: 20em
      label
        font-weight: bold
        color: #222
        text-shadow: 0 1px 1px #FFF
        margin-top: -0.1em
      input[type=search]
        width: 8em
        padding: 0.2em
        font-size: 1.5em
  fieldset.controls
    font-size: 1.4em
