table
  margin: 0 0 1em 0
  border-collapse: collapse
  border: 1px solid #999
  width: 100%
  thead
    tr
      th
        background: #333
        color: #FFF
        padding: 0.5em
        text-align: left
        font-weight: bold
  tbody
    tr
      td
        padding: 0.5em
      &:nth-child(2n)
        background-color: #DDD
